{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}<title>{% trans "Signup" %}</title>{% endblock %}
{% block first-section %}{% endblock first-section %}
{% block context %}




<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<section class="checkout spad">
  <div class="container">

    <div class="checkout__form">
      <h4>{% trans "Signup" %}</h4>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="row">
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Pseudo<span>*</span></p>
                  {{ form.username }}
                </div>
              </div>
              <div class="col-lg-3">
                <div class="checkout__input">
                  <p>Prenom<span>*</span></p>
                  {{ form.first_name }}
                </div>
              </div>
              <div class="col-lg-3">
                <div class="checkout__input">
                  <p>Nom<span></span></p>
                  {{ form.last_name }}
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Email<span>*</span></p>
                  {{ form.email }}
                </div>
              </div>
              <div class="col-lg-3">
                <div class="checkout__input">
                  <p>Mot de pass<span>*</span></p>
                  {{ form.password1 }}
                </div>
              </div>
              <div class="col-lg-3">
                <div class="checkout__input">
                  <p>Re-Mot de pass<span>*</span></p>
                  {{ form.password2 }}
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Adresse<span>*</span></p>
                  {{ form.adress1 }}
                </div>
              </div>
              <div class="col-lg-3">
                <div class="checkout__input">
                  <p>Adresse(plus)<span>*</span></p>
                  {{ form.adress2 }}
                </div>
              </div>
              <div class="col-lg-3">
                <div class="checkout__input">
                  <p>Telephone<span>*</span></p>
                  {{ form.phone }}
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Ville<span>*</span></p>
                  {{ form.ville }}
                </div>
              </div>
              <div class="col-lg-3">
                <div class="checkout__input">
                  <p>Pays<span></span></p>
                  {{ form.contry }}
                </div>
              </div>
              <div class="col-lg-3">
                <div class="checkout__input">
                  <p>Code Zip<span>*</span></p>
                  {{ form.codezip }}
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-lg-12">
                <div class="checkout__input">
                  <p>Descriptions<span>*</span></p>
                  {{ form.discriptions }}
                </div>
              </div>
              <div class="row">

                <div class="col-lg-12 ">
                  <div class="checkout__input">
                    <p>Photo<span>*</span></p>
                    {{ form.picture }}
                  </div>
                </div>

              </div>
            </div>
              <div class="row">

                <div class="col-lg-12 col-md-12">
                  <div class="checkout__input">
                    {% for field in form %}
                     <p>{{ field.errors }}</p> 
                      {% if field.help_text %}
                      <p>{{ field.help_text|safe }}</p>
                      {% endif %}
                      {% endfor %}
                  </div>

                </div>

                </div>
                <br>
                <p class="hint-text">{% trans 'Vous avez déjà un compte ? Dans ce cas, veuillez' %} <a
                    href="{{ login_url }}">{% trans 'vous connecter' %}</a></p>
                <br>
                <div>
                  <button type="submit" class="site-btn">{% trans "Sign Up" %}</button>
                </div>




              </div>

            </div>
      </form>
    </div>
  </div>
</section>



{% endblock %}