{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  {% block link %}
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  {% endblock link %}

  {% block head_title %}

  <title>Document</title>
  {% endblock head_title %}
</head>

<body>
  {% block navbar %}

  <div class="container">
    <nav id="navbarcolor" class="navbar navbar-inverse navbar-expand-xl navbar-dark navbar-fixed-top">
      <div class="navbar-header d-flex col">
        <a class="navbar-brand" href="{% url 'home' %}"><i class="fa fa-cube"></i>Ya<b>Tach</b></a>
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse"
          class="navbar-toggle navbar-toggler ml-auto">
          <span class="navbar-toggler-icon"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collection of nav links, forms, and other content for toggling -->
      <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <form class="navbar-form form-inline">
          <div class="btn btn-sm">
            <a href="{% url 'add_annonce' %}" class="btn btn-default ">Deposer une annonce</a>
          </div>
          <div class="input-group search-box">
            <input type="text" id="search" class="form-control" placeholder="Recherche Annonce">
            <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right ml-auto">
          
          <li class="nav-item"><a href="{% url 'message_list' %}" class="nav-link"><i class="fa fa-envelope"><span
                  class="badge">42</span></i><span>Messages</span></a></li>
          <li class="nav-item"><a href="{%url 'favorite_list'%}" class="nav-link"><i class="fa fa-envelope"><span
                    class="badge"></span></i><span>Favoris</span></a></li>
          <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-bell"><span
                  class="badge badge-pill badge-dark">42</span></i><span>Notifications</span></a>
          </li>


          {% if user.is_authenticated %}

          <li class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img
                src="{{user.picture.url}}" class="avatar" alt="Avatar"> {{user.username}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'profile'%}" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a></li>
              <li><a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a></li>
              <li><a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a></li>
              <li class="divider dropdown-divider"></li>
              <li><a href="{% url 'account_logout'%}" class="dropdown-item"><i class="material-icons">&#xE8AC;</i>
                  Logout</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item"><a href="{% url 'account_signup'%}" class="nav-link"><i
                class="fa fa-sign-in"></i><span>Inscription</span></a></li>
          <li class="nav-item"><a href="{% url 'account_login'%}" class="nav-link"><i
                class="fa fa-user"></i><span>Connexion</span></a></li>
          {% endif%}
        </ul>
      </div>
    </nav>
    {% endblock navbar %}

    <!-- block content -->
    {% block content %}
    <div class="jumbotron  " id="header-section">
      {% if messages %}
       <div class="alert alert-primary" role="alert" style="background-color: rgb(74, 30, 116); color:white ;">
        {% for message in messages %}
      <p id="messages"> {{ message }}</p>
      {% endfor%}
        
      </div>
     {% endif %}
      

      <h1>HEADER</h1>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
        Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
    <!-- block categories -->
    {% block categories %}

    <div class="col-md-3 ">
      <h1 class="my-4">Categorie</h1>
      <div class="list-group">
        {% for list in categories %}

        <a href="#" class="list-group-item" style="color: rgb(74, 30, 116);">{{ list.name|upper }} </a>

        {% endfor %}
      </div>
    </div>


    {% endblock categories %}
    <!-- block categories -->


    <div class="col-md-9" style="padding-bottom: 10px;">

      <div class="row">


        <div class=" col-md-12">


          <!-- block annonce -->
          {% block annonce %}
          <h2 style="text-align: center;">Les Dernieres annonces</h2>


          <div class="row">
            {% for details in annonces %}
            <div class="col-sm-4  col-12" style="margin-top: 10px; border-width: 5px; border-color:rgb(74, 30, 116);">
              <div class="col-item">
                <div class="photo">

                  <img src="{{details.image.all.0.image.url }}" alt="a" style="height: 200px; width: 250px; "
                    class="img-responsive" />

                </div>
                <div class="info">
                  <div class="row">
                    <div class="price col-md-12">
                      <h5>
                        <strong>{{ details.title|upper|truncatechars:24  }}</strong></h5>
                      <div class="row">

                        <div class="price col-md-6" style="color: rgb(74, 30, 116);">
                          <h5>
                            {{ details.price|intcomma}}€</h5>
                        </div>
                        <div class="price col-md-6">
                          <h6 class="price-text-color" style="color: rgb(74, 30, 116);">
                            Ajouter-{{ details.created }}</h6>
                        </div>

                      </div>
                    </div>

                  </div>
                  <div class="separator clear-left">
                    <p class="btn-details">
                      <i class="fa fa-list"></i><a href="{{details.get_absolute_url}}" class="hidden-sm">Details</a></p>
                    <p class="btn-details">
                      <i class="fa fa-shopping-bag"></i><a class="hidden-sm"
                        style="color: rgb(74, 30, 116);">{{details.type_annonce|upper}}
                      </a></p>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>

          <!--Pagination-->
          {% include "pagination.html" with liste=annonces view="home" %}
          <!--Pagination-->
          <!-- Pagination bootstrap
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              {% if annonces.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ annonces.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              {% endif %}

              {% for p in annonces.paginator.page_range %}
              {% if annonces.number == p %}

              <li class="page-item active"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
              {% else %}
              <li class="page-item "><a class="page-link" href="?page={{p}}">{{p}}</a></li>

              {% endif %}
              {% endfor %}

              {% if annonces.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ annonces.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              {% endif %}
              
            </ul>
          </nav> -->


          <!-- Pagination-->







          {% endblock annonce %}
          <!-- block annonce -->


        </div>

        <!--Pub-->

        <!--fin block Pub-->
      </div>
    </div>


    {% endblock content %}
    <!-- block content -->


  </div>

  <div class="container ">
    {% block footer %}
    <div class="jumbotron">
      <h1>FOOTER</h1>
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
        Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>

    {% endblock footer %}
  </div>


  {% block extra_body %}{%endblock%}
  {% block script %}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/971c1632df.js" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <script src="{% static 'js/script.js'%}"></script>
  {%endblock%}
</body>

</html>