{% extends "base.html" %}
{% load i18n %}


{% block title %}{% trans "Profile" %}{% endblock title %}
{% block content %}


<hr>
<div class="container bootstrap snippet" style="padding-top: 40px;">
    <div class="row">
  		<div class="col-sm-10"><h1 style="color: rgb(92, 25, 155);"><strong>{{user.username|upper}}</h1></div>
    	<div class="col-sm-2"><a href="{% url 'home' %}" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="{{user.picture.url}}" class="avatar img-circle img-thumbnail" alt="avatar">
        
      </div></hr><br>
    
    <button class="btn btn-sm btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
</form>
               
          
          
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Change profile details <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><a href="{% url 'account_email' %}"><strong>Email change</strong></a></span></li>
            <li class="list-group-item text-right"><span class="pull-left"><a href="{% url 'account_change_password'%}"><strong>Password reset</strong></a></span></li>
          </ul> 
               
          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div>
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Edit Profile</a></li>
              </ul>

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                  <form class="form" enctype="multipart/form-data" action="{% url 'profile' %}" method="post" id="registrationForm">
                    {% csrf_token %}  
                    <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="title"><h4>First name</h4></label>

                              <div>{{  form.first_name }}</div>
                              
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Last name</h4></label>
                            <div>{{  form.last_name }}</div>                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="phone"><h4>Phone</h4></label>
                              <div>{{  form.phone }}</div> 
                          </div>
                      </div>
          
                      
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Location</h4></label>
                              <div>{{  form.adress1 }}</div>                           </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Location</h4></label>
                              <div>{{  form.adress2 }}</div>                           </div>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="password"><h4>Ville</h4></label>
                              <div>{{  form.ville }}</div>                           </div>
                          </div>
                      </div>
                      <div class="form-group">
                          
                        <div class="col-xs-6">
                            <label for="password"><h4>Zip</h4></label>
                            <div>{{  form.codezip }}</div>                           </div>
                        </div>

                      <div class="form-group">
                          
                        <div class="col-xs-6">
                            <label for="password"><h4>Country</h4></label>
                            <div>{{  form.contry }}</div>                          
                        </div>
                    </div>
                    <div class="form-group">
                    {{ form.picture.label_tag}}
                    {{ form.picture}}
                </div>
      
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                            </div>
                      </div>
              	</form>
              
              <hr>
              
             </div>
              </div><!--/tab-pane-->
          </div><!--/tab-content-->


          <div class="row">
            <div class="container">
                <div class="table-wrapper">			
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="show-entries">
                                    <span>Show</span>
                                    <select>
                                        <option>5</option>
                                        <option>10</option>
                                        <option>15</option>
                                        <option>20</option>
                                    </select>
                                    <span>entries</span>
                                </div>						
                            </div>
                            <div class="col-sm-4">
                                <h2 class="text-center">Annonces <b>listes</b></h2>
                            </div>
                            <div class="col-sm-4">
                                <div class="search-box">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title <i class="fa fa-sort"></i></th>
                                <th>Type annonce</th>
                                <th>Categories <i class="fa fa-sort"></i></th>
                                <th>Price </th>
                                <th>Created </th>
                                <th>Edite </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for annonce in annonces %}
                            <tr>
                                <td>1</td>
                                <td>{{annonce.title}}</td>
                                <td>{{annonce.type_annonce}}</td>
                                <td>{{annonce.categories}}</td>
                                <td>{{annonce.price}}</td>
                                <td>{{annonce.created}}</td>
                                <td>
                                    <a href="{{annonce.get_absolute_url}}" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                                    <a href="{{annonce.get_update_url}}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                    <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                </td>
                            </tr>
                            {% endfor %}
                            
                            
                                   
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <div class="hint-text">
                    Page {{ annonces.number }} of {{ annonces.paginator.num_pages }}.</div>
                        <ul class="pagination">

                  {% if annonces.has_previous %}
                            <li class="page-item "><a href="?page={{ annonces.previous_page_number }}">Previous</a></li>
                            <li class="page-item"><a href="?page=1" class="page-link">first</a></li>
                    {% endif %}

                            
                            {% if annonces.has_next %}
                            <li class="page-item"><a href="?page={{ annonces.next_page_number }}" class="page-link">Next</a></li>
                            <li class="page-item"><a href="?page={{ annonces.paginator.num_pages }}" class="page-link">last</a></li>
                        {% endif %}
                        </ul>
                    </div>
                    <!--Pagitation -->
             

                </div>
            </div>     
        </div>
        




















{% endblock content %}