{% extends "base.html" %}
{% load i18n %}
{% load humanize %}


{% block title %}<title>{% trans "Profile" %}</title>{% endblock title %}
{% block first-section %}{% endblock first-section %}
{% block context %}


<hr>
<div class="container bootstrap snippet" style="padding-top: 40px;">
  <div class="row">
    <div class="col-sm-10">
      <h1 style="color: rgb(29, 22, 29);"><strong>{{user.username|upper}}</h1>
    </div>
    <div class="col-sm-2"><a href="{% url 'home' %}" class="pull-right"><img title="profile image"
          class="img-circle img-responsive"
          src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->


      <div class="text-center">
        <img src="{{user.picture.url}}" class="avatar img-circle img-thumbnail" alt="avatar">

      </div>
      </hr><br>
      <ul class="list-group">
        <li class="list-group-item text-muted">Change profile details <i class="fa fa-dashboard fa-1x"></i></li>
        <a href="{% url 'account_email' %}" class="list-group-item text-left"
          style="color: rgb(29, 22, 29);"><strong>Email change</strong></a>
        <a href="{% url 'account_change_password'%}" class="list-group-item text-left"
          style="color: rgb(29, 22, 29);"><strong>Password reset</strong></a>
      </ul>

      <div class="panel panel-default">
        <div class="panel-heading">Social Media</div>
        <div class="panel-body">
          <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i
            class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
        </div>
      </div>

    </div>
    <!--/col-3-->
    <div class="col-sm-9">

      <section class="checkout spad">
        <div class="container">

          <div class="checkout__form">
            <h4>{% trans "Update" %}</h4>
            <form action="" method="post" enctype="multipart/form-data" action="{% url 'add_annonce' %}">
              {% csrf_token %}
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="row">

                    <div class="col-lg-6">
                      <div class="checkout__input">
                        <p>first name<span>*</span></p>
                        {{ form.first_name }}
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="checkout__input">
                        <p>Last Name<span>*</span></p>
                        {{ form.last_name }}
                      </div>
                    </div>
                  </div>

                  <div class="row">

                    <div class="col-lg-6">
                      <div class="checkout__input">
                        <p>Adresse<span>*</span></p>
                        {{ form.adress1 }}
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="checkout__input">
                        <p>Adresse(plus)<span>*</span></p>
                        {{ form.adress2 }}
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="checkout__input">
                        <p>Phone<span>*</span></p>
                        {{ form.phone }}
                      </div>
                    </div>
                  </div>
                  <div class="row">

                    <div class="col-lg-6">
                      <div class="checkout__input">
                        <p>Ville<span>*</span></p>
                        {{ form.ville }}
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="checkout__input">
                        <p>Country<span>*</span></p>
                        {{ form.contry }}
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="checkout__input">
                        <p>Code Zip<span>*</span></p>
                        {{ form.codezip }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="row">

                      <div class="col-lg-12">
                        <div class="checkout__input">
                          <p>Photo<span>*</span></p>
                          {{ form.picture }}
                        </div>
                      </div>

                    </div>
                    <div >
                      <div>
                        <button type="submit" class="site-btn">{% trans "Update" %}</button>
                      </div>
                    </div>
                    <br>
                    <br>
                    




                  </div>

                </div>
            </form>
          </div>
        </div>
      </section>











    </div>


  </div>
  <!--/tab-pane-->
</div>
<!--/tab-content-->

{% endblock context %}