{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block first-section %}{% endblock first-section %}
{% block context %}

<div class="signup-form" id="header-register">
    <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Inscription</h2>
        <p class="hint-text">Créez votre compte.</p>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6"> {{ user_form.username.label_tag}} {{ user_form.username }}</div>
                <div class="col-xs-6">{{ user_form.first_name.label_tag}} {{ user_form.first_name }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6"> {{ user_form.email.label_tag}} {{ user_form.email}}</div>
        </div>
        <div class="row">
            <div class="col-xs-6"> {{ user_form.password1.label_tag}} {{ user_form.password1}}</div>
            <div class="col-xs-6">{{ user_form.password2.label_tag}} {{ user_form.password2}}</div>
        </div>
        <div class="row">
            <div class="col-xs-6"> {{ profile_form.telephone.label_tag}} {{ profile_form.telephone}}</div>
        </div>

        <div class="row">
            <div class="col-xs-6"> {{ adresse_form.rue.label_tag}} {{ adresse_form.rue}}</div>
            <div class="col-xs-6">{{ adresse_form.ville.label_tag}} {{ adresse_form.ville}}</div>
        </div>
        <div class="row">
            <div class="col-xs-6"> {{ adresse_form.Zip.label_tag}} {{ adresse_form.Zip}}</div>
            <div class="col-xs-6">{{ adresse_form.pays.label_tag}} {{ adresse_form.pays}}</div>
        </div>
        <div class="form-group">
            {{ profile_form.avatar.label_tag}}
            {{ profile_form.avatar}}
        </div>
        <div>
            {{user_form.non_field_errors}}
        </div>
        {% for field in user_form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}>
            
        
        {% endfor %}
        <div class="form-group">
            <label_tag class="checkbox-inline"><input type="checkbox" required="required"> J'accepte les <a
                    href="#">conditions d'utilisation</a> &amp; <a href="#">Politique de confidentialité</a></label_tag>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default btn-lg btn-block" id="btn-default">Enregistrer</button>
        </div>
    </form>
    <div class="text-center">Vous avez déjà un compte ?<a href="{% url 'login' %}">S'identifier</a></div>
</div>
{% endblock content %}