{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% load humanize %}

{% load i18n %}


{% block head_title %}{% trans "favourite list" %}{% endblock %}
{% block categories %}{% endblock categories %}

{% block annonce %}

{% for details in favorite_list%}

<div class="col-sm-4  col-12" style="margin-top: 10px; border-width: 5px; border-color: blueviolet;">
    <div class="col-item">
      <div class="photo">

        <img src="{{details.image.all.0.image.url }}" alt="a" style="height: 200px; width: 250px; "
          class="img-responsive" />

      </div>
      <div class="info">
        <div class="row">
          <div class="price col-md-12">
            <h5  class="title">
              <strong>{{ details.title|upper|truncatechars:24  }}</strong></h5>
            <div class="row">

              <div class="price col-md-6">
                <h5  class="title">
                  ${{ details.price|intcomma}}</h5>
              </div>
              <div  class="title">
                <h6 class="price-text-color" style="color: blueviolet;">
                  Ajouter-{{ details.created }}</h6>
              </div>

            </div>
          </div>

        </div>
        <div class="separator clear-left">
          <p class="btn-details">
            <i class="fa fa-list"></i><a href="{{details.get_absolute_url}}" class="hidden-sm">Details</a></p>
          <p class="btn-details">
            <i class="fa fa-shopping-bag"></i><a class="hidden-sm"
              style="color: blueviolet;">{{details.type_annonce|upper}}
            </a></p>
        </div>
        <div class="clearfix">
        </div>
      </div>
    </div>
  </div>
{% endfor %}


{% endblock annonce %}