
{% load humanize %}

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<section class="blog spad">
  <div class="container">
      <div class="row">
        <div class="col-12">

            <h2 class="section-title" style="
            color: #252525;
            line-height: 52px;
            font-weight: 700;" > {{ count_list }} annonce{{count_list|pluralize }} trouvé{{count_list|pluralize}}</h6>
          </div>
          
          <div class="col-lg-12 col-md-12" >
              <div class="row">
                  {% for details in resultat %}
                  <div class="col-lg-4 col-md-4 col-sm-6">
                      <div class="blog__item" style="text-align: left;">
                          <div class="blog__item__pic">
                              <img src="{{details.image.all.0.image.url }}" alt="">
                          </div>
                          <div class="blog__item__text">
                              <ul>
                                  <li><i class="fa fa-calendar-o"></i> {{ details.created }}</li>
                                  <li><i class="fa fa-comment-o"></i> {{ details.comment.all.count  }}</li>
                              </ul>
                              <h5><a href="#">{{ details.title|upper|truncatechars:24  }}</a></h5>
                              <h5>{{ details.price|intcomma}}€</h5>
                              <p>{{ details.description|truncatechars:120  }}. </p>
                              
                              <a href="{{details.get_absolute_url}}" class="blog__btn">Détail <span class="arrow_right"></span></a>
                          </div>
                      </div>
                  </div>
                  {% endfor %}




                  <div class="col-lg-12">
                      <div class="row">
                          <div class="col-12">
                              {% include "pagination.html" with liste=annonces view="home" %}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</section>