{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}


{% block title %}<title>{% trans "Search" %}</title>{% endblock title %}
{% block first-section %}{% endblock first-section %}
{% block context %}


<div class="container product-details spad">
    {% if message %}
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">AUCUN RESULTAT</h4>
        <p> <strong> {{message }}</strong></p>
        <hr>
    </div>
    {% endif %}

    <div class="row">
        
        
        <br>
        
            
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <div class="s009">
            <form method="GET"  action="{% url 'filter' %}">
              <div class="inner-form">
                
                <div class="advance-search ">
                  <span class="desc" >ADVANCED SEARCH</span>
                  <div class="row">
                    <div class="input-field">
                      <div class="input-select">
                        <select name="categories" data-trigger=""  placeholder="categories" name="categories" id="categories">
                            <option value="">All Categories</option>
                            <option value="1" {% if conditions.categories == "EMPLOI" %} selected {% endif %}> EMPLOI</option>
                            <option value="2" {% if conditions.categories == "LOISIRS" %} selected{% endif %}>LOISIRS</option>
                            <option value="3" {% if conditions.categories == "VÉHICULES" %} selected{% endif %}>VÉHICULES</option>
                            <option value=" 4" {% if conditions.categories == " MODE" %} selected{% endif %}> MODE</option>
                            <option value=" 5" {% if conditions.categories == " MULTIMÉDIA" %} selected{% endif %}> MULTIMÉDIA</option>
                            <option value=" 6" {% if conditions.categories == " SERVICES" %} selected{% endif %}> SERVICES</option>
                            <option value=" 7" {% if conditions.categories == " IMMOBILIER" %} selected{% endif %}> IMMOBILIER</option>
                            <option value=" 8" {% if conditions.categories == " DIVERS" %} selected{% endif %}> DIVERS</option>

                        </select>
                      </div>
                    </div>
                    <div class="input-field">
                      <div class="input-select">
                        <select name="type_annonce"  placeholder="type_annonce" name="type_annonce"
                                        id="type_annonce">
                                        <option value="">All Type Annonce</option>
                                        <option value="Vente" {% if conditions.type_annonce == "Vente" %} selected{% endif %}>Vente
                                        </option>
                                        <option value="Location" {% if conditions.type_annonce == "Location" %} selected{% endif %}>
                                            Location </option>
                                        <option value="Achat" {% if conditions.type_annonce == "Achat" %} selected{% endif %}>Achat
                                        </option>
                                        <option value="Service" {% if conditions.type_annonce == "Service" %} selected{% endif %}>
                                            Service</option>
                                        <option value="Autres" {% if conditions.type_annonce == "Autres" %} selected{% endif %}>
                                            Autres</option>
                                    </select>
                      </div>
                    </div>
                    
                    
                  </div>
                  <div class="row second">
                    <div class="input-field">
                      <div class="input-select">
                        <input  placeholder="Price" name="price" id="price"></input>
                      </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <input  placeholder="Price Gt " name="price_gt" id="price_gt"></input> 
                        </div>
                      </div>
                    <div class="input-field">
                      <div class="input-select">
                        <input  placeholder="Price Lt" name="price_lt" id='price_lt'></input>
                      </div>
                    </div>
                    
                  </div>
                  <div class="row second">
                    <div class="input-field">
                      <div class="input-select">
                          <input value="Date"  name="date" type="date" id='date'></input>
                        
                    </div>
                </div>
                <div class="input-field">
                    <div class="input-select">
                        <input value="Date gt" placeholder="Date gt" name="date_gt" type="date" id="date_gt"></input>
                    </div>
                </div>
                <div class="input-field">
                    <div class="input-select">
                        <input value="Date lt"  name="date_lt" type="date" id="date_lt"></input> 
                      </div>
                    </div>
                    
                  </div>
                  <div class="row third">
                    <div class="input-field">
                      <div class="result-count">
                        </div>
                      <div class="group-btn">
                        <button class="btn-search">SEARCH</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <script src="{% static 'js/extention/choices.js' %}"></script>
          
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <!---->
        <div class="col-sm-12 " >
            
            <br>
            <br>
            <br>
            <br>
            

            <div class="row">
              <div class="section-title" >
            <h2> Résultat de la recherche </h2>
              </div>
          </div>
          
          <br>
          <br><br>
            <div class="row add-filter">
              <div>

              </div>
                {% for details in search_list %}
                <h6 > {{ count_list }} annonce{{count_list|pluralize }} trouvé{{count_list|pluralize }}</h6>

                <div class="col-lg-6 col-md-6 col-sm-6" >
                  <div class="blog__item">
                      <div class="blog__item__pic">
                          <img src="{{details.image.all.0.image.url }}" alt="">
                      </div>
                      <div class="blog__item__text">
                          <ul>
                              <li><i class="fa fa-calendar-o"></i> {{ details.created }}</li>
                              <li><i class="fa fa-comment-o"></i> {{ details.comment.all.count }}</li>
                          </ul>
                          <h5><a href="#">{{ details.title|upper|truncatechars:24  }}</a></h5>
                          <h5>{{ details.price|intcomma}}€</h5>
                          <p>{{ details.description|truncatechars:120  }}. </p>
                          
                          <a href="{{details.get_absolute_url}}" class="blog__btn"> <span class="arrow_right"></span></a>
                      </div>
                  </div>
              </div>
                {% endfor %}

            </div>

            <div class="row add-categorie">
              <div class="col-12">

                <h2 class="section-title" style="
                color: #252525;
                line-height: 52px;
                font-weight: 700;" > {{ count_list }} annonce{{count_list|pluralize }} trouvé{{count_list|pluralize}}</h6>
              </div>
              
                <div class="col-12">
                  <div class="row">
                {% for details in categories %}
              
                
                <div class="col-lg-4 col-md-4 col-sm-4" >
                  <div class="blog__item">
                      <div class="blog__item__pic">
                          <img src="{{details.image.all.0.image.url }}" alt="">
                      </div>
                      <div class="blog__item__text">
                          <ul>
                              <li><i class="fa fa-calendar-o"></i> {{ details.created }}</li>
                              <li><i class="fa fa-comment-o"></i> {{ details.comment.all.count  }}</li>
                          </ul>
                          <h5><a href="#">{{ details.title|upper|truncatechars:24  }}</a></h5>
                          <h5>{{ details.price|intcomma}}€</h5>
                          <p>{{ details.description|truncatechars:120  }}. </p>
                          
                          <a href="{{details.get_absolute_url}}" class="blog__btn">Détail<span class="arrow_right"></span></a>
                      </div>
                  </div>
              </div>
              {% endfor %}
            </div>
            </div>

            </div>


            <div class="product__pagination" >
              {% if search_list.has_previous %}
                <a href="?page={{ annonces.previous_page_number }}" aria-label="Previous">
                  <i class="fa fa-long-arrow-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              
              {% endif %}
        
              {% for p in search_list.paginator.page_range %}
              {% if search_list.number == p %}
        
              <a  href="?page={{p}}">{{p}}</a>
              {% else %}
              <a href="?page={{p}}">{{p}}</a>
        
              {% endif %}
              {% endfor %}
        
              {% if search_list.has_next %}
                <a  href="?page={{ annonces.next_page_number }}"  aria-label="Next">
                  <i class="fa fa-long-arrow-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              
              {% endif %}
              
            
          </div>

            
            
        </div>


        <section class="blog spad">
          <div class="container">
              <div class="row">
                  
                  <div class="col-lg-8 col-md-7">
                      <div class="row">
                          {% for details in annonces %}
                          <div class="col-lg-6 col-md-6 col-sm-6">
                              <div class="blog__item">
                                  <div class="blog__item__pic">
                                      <img src="{{details.image.all.0.image.url }}" alt="">
                                  </div>
                                  <div class="blog__item__text">
                                      <ul>
                                          <li><i class="fa fa-calendar-o"></i> {{ details.created }}</li>
                                          <li><i class="fa fa-comment-o"></i> {{ details.comment.all.count  }}</li>
                                      </ul>
                                      <h5><a href="#">{{ details.title|upper|truncatechars:24  }}</a></h5>
                                      <h5>{{ details.price|intcomma}}€</h5>
                                      <p>{{ details.description|truncatechars:120  }}. </p>
                                      
                                      <a href="{{details.get_absolute_url}}" class="blog__btn">Détail <span class="arrow_right"></span></a>
                                  </div>
                              </div>
                          </div>
                          {% endfor %}
  
  
  
  
                          <div class="col-lg-12">
                              <div class="row">
                                  <div class="col-12">
                                      {% include "pagination.html" with liste=annonces view="home" %}
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
  
      </section>
    </div>
</div>










<!---->
<!---->
<!---->
<!---->







{% endblock context %}