{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}<title>{% trans "add annonce" %}</title>{% endblock %}
{% block first-section %}{% endblock first-section %}
{% block context %}

<div class="container">
    <div class="signup-form">
        <form method="post">
            {% csrf_token %}
            <div class="section-title">
            <h2 >DELETE</h2>
            </div>
            <p>Are you sure you want to delete "{{ obj_delte.title }}"?</p>
            <input class="site-btn" type="submit" value="Confirm">
        </form>
    </div>
</div>


{% endblock context %}

{% block categories%} {% endblock categories %}