{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% load humanize %}

{% load i18n %}


{% block head_title %} <title>{% trans "favourite list" %}</title>{% endblock %}
{% block categories %}{% endblock categories %}
{% block first-section %}{% endblock first-section %}

{% block context %}


<section class="featured spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Favorite</h2>
        </div>

      </div>
    </div>
    <div class="row featured__filter">
      {% for details in favorite_list  %}
      <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
        <div class="featured__item">
          <div class="featured__item__pic set-bg" data-setbg="{{details.image.all.0.image.url }}">
            <ul class="featured__item__pic__hover">
              <li><a href="{{details.get_absolute_url}}"><i class="fa fa-heart"></i></a></li>
              <li><a href="{{details.get_absolute_url}}"><i class="fa fa-info"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="{{details.get_absolute_url}}">{{ details.title|upper|truncatechars:24  }}</a></h6>
            <h5>{{ details.price|intcomma}}€</h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-12">
        {% include "pagination.html" with liste=annonces view="home" %}
      </div>
    </div>
  </div>
</section>



{% endblock context %}