{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}<title>{% trans "list des message" %}</title>{% endblock %}
{% block first-section %}{% endblock first-section %}
{% block context %}
<div class="row">
<div class="col-sm-12">
    <div class="section-title">
    <h2  class="title">Liste des messages reçue </h2>
</div>
</div>
</div>
<br>
<br>

<hr>
    <div class="container">
        
        {% for list in message_list %}
            <div class="row">
            <div class="col-sm-2 "></div>

            <div class="col-sm-6 well" style="padding-left: 20px ;">
                <h3 > Sender: {{ list.sender}}</h3>
                <h4 >Sujet: {{list.subject }} </h4>
                <p>  {{ list.message }}</p>
                <h6>{{ list.created_at }}</h6>

        <a href="/annonce/message/{{list.sender.id}}"><strong>Repondre</strong></a>
            </div>
            <div class="col-sm-4 "></div>
        </div>
        <hr>
            {% endfor %}

    </div>

{% endblock context %}
{% block categories %}
{% endblock categories %}