
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load static %}

{% block head_title %}

  <title >Send Message</title>
  {% endblock head_title %}
  
{% block first-section %}{% endblock first-section %}
{% block context %}






  

<div class="contact-form spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="contact__form__title">
					<h2>Leave Message</h2>
				</div>
			</div>
		</div>
		<form  class="contact1-form validate-form" method="POST">
			{% csrf_token %}
			<div class="row">
				<div class="col-lg-6 col-md-6">
					{{ mp_form.subject }}
				</div>
				
				<div class="col-lg-12 text-center">{{ mp_form.message }}

					<button type="submit" class="site-btn">SEND MESSAGE</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock context %}
{% block categorie %}
{% endblock categorie %}

